body {
  font-family: "Syne", sans-serif;
  background-color: #faedcd;
  /* position: relative;
  overflow-x: hidden; */
}
/* 
* {
  border: 1px solid red !important;
} */

/* transisiton animate */

.transition-fade {
  transition: 500ms;
  opacity: 1;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
}

.transition-fade-in {
  transition: 500ms;
  opacity: 1;
}

html.is-animating .transition-fade-in {
  opacity: 0;
}

/* nav */

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.nav-items {
  display: none;
}

.navbar-toggler {
  border: none;
}

ul.navbar-nav {
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}

.blue {
  font-family: "UnifrakturCook", cursive;
  color: #457b9d;
}

/* div sizing */

header {
  margin: 0 30px;
}

section {
  text-align: center;
}

section#gallery {
  overflow: hidden;
}

section#main-intro {
  margin: 100px 0;
}

section#g-art {
  margin: 90px 0px;
}

/* intro */

#main-intro h1 {
  font-size: 13vw;
}

/* sizing */

.about-title h1,
.gallery-title h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: left;
  padding: 30px;
}

.about-text {
  padding: 70px 0;
}

.about-text p {
  font-size: 30px;
  padding: 30px;
}

.slide-prompter {
  display: none;
  text-align: left;
  font-weight: bold;
}

.slide-prompter p {
  margin: 0px;
  padding: 10px;
}

/* gallery */

.g-card,
.g-card-art-page {
  padding: 20px 0px;
  height: 100%;
  border-right: 1px solid #989898;
}

.g-art-navigation {
  padding: 20px;
  height: 100%;
  border-left: 1px solid #989898;
}

.g-card-hover-1:hover {
  background: url(/img/dont-wanna-be-okay-without-you.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.g-card-hover-2:hover {
  background: url(/img/the-shooting-gallery.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.g-card-hover-3:hover {
  background: url(/img/trouble-in-paradise.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.g-card-hover-4:hover {
  background: url(/img/cover-for-action.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.g-card:hover h1,
.g-card:hover h2,
.g-card:hover p {
  color: white;
}

.g-title {
  text-align: left;
  margin: auto;
  height: 200px;
  width: 200px;
}

.g-title h1 {
  font-family: "UnifrakturCook", cursive;
}

.g-mini-title {
  text-align: left;
  margin: auto;
  width: 200px;
}

.g-number h2 {
  font-size: 350px;
}

.g-art-desc {
  margin: 20px 0;
}

.g-art-desc h1 {
  padding: 40px;
  font-size: 50px;
  transform: rotate(-90deg);
}

.g-art-desc p {
  text-align: left;
  padding: 30px;
}

.g-art-desc a {
  color: #457b9d;
}

.hide-scroll {
  overflow: hidden !important;
}

/*g-art navigation*/

.btn-back {
  height: 300px;
  align-items: start;
  display: flex;
  justify-content: space-evenly;
}

.btn-front {
  height: 300px;
  align-items: end;
  display: flex;
  justify-content: space-evenly;
}

.btn-back a:hover,
.btn-front a:hover {
  color: #457b9d;
  text-decoration: underline;
}

/* media Query */

@media (max-width: 680px), screen and (orientation: portrait) {
  #main-intro h1 {
    font-size: 60px;
  }

  section {
    text-align: center;
  }

  section#main-intro {
    margin: 250px 30px;
  }

  section#g-art {
    margin: 0px;
    overflow-x: hidden;
  }

  .slide-prompter {
    display: block;
  }

  /* gallery */

  .g-art-page-title {
    width: 100%;
    height: 100%;
  }

  .g-art-desc h1 {
    padding: 20px;
    font-size: 50px;
    transform: rotate(0deg);
  }

  .g-art-desc p {
    text-align: left;
    padding: 20px;
  }

  .g-art-content {
    margin: 20px 0px;
  }

  .g-art-content img {
    width: 100%;
    height: 100%;
  }

  .g-card {
    margin-right: 30px;
  }

  .g-card,
  .g-card-art-page {
    border-bottom: 1px solid #989898;
    border-right: none;
  }

  .g-art-navigation {
    border-top: 1px solid #989898;
    border-left: none;
  }

  .hide-scroll {
    overflow: scroll !important;
  }

  /* sizing */

  .about-title h1,
  .gallery-title h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .about-text p {
    font-size: 18px;
  }

  .g-number h2 {
    font-size: 280px;
  }

  /*g-art navigation*/

  .btn-back {
    height: 0px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .btn-front {
    height: 0px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}
