body {
    font-family: 'Syne', sans-serif;
    background-color: #FAEDCD;
}


/* nav */ 


ul {
    list-style: none;
}
 
a {
    text-decoration: none;
}

.nav-items {
    display: none;
}


.blue {
    font-family: 'UnifrakturCook', cursive;
    color: #457B9D;
}


/* div sizing */

header {
    margin: 0 30px;
}

section {
  margin: 20vh 30px;
  text-align: center;
}

/* intro */

#main-intro h1 {
    font-size: 200px;
}


/* sizing */

.about-title h1, .gallery-title h1 {
    font-size: 60px;
    font-weight: bold;
}


.about-text p {
    font-size: 25px;
}

/* gallery */

.gallery-content {
    margin: 40px 0;
}

.g-card {
    padding: 20px;
    margin: 40px 0;
    border-right: 1px solid #989898;
}

.g-card-hover-1:hover {
    background: url(/img/dont-wanna-be-okay-without-you.jfif);
    background-size: cover;
    background-position: center;
    cursor: pointer;

}

.g-card-hover-2:hover {
    background: url(/img/the-shooting-gallery.jfif);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.g-card-hover-3:hover {
    background: url(/img/trouble-in-paradise.jfif);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.g-card-hover-4:hover {
    background: url(/img/cover-for-action.jfif);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.g-card:hover h1, .g-card:hover h2, .g-card:hover p{
    color: white;
}


.g-title {
    text-align: left;
margin: auto;
height: 200px;
    width: 200px;
}

.g-title h1 {
    font-family: 'UnifrakturCook', cursive;
}

.g-mini-title {
    text-align: left;
margin: auto;
    width: 200px;
}

.g-number h2 {
    font-size: 200px;
}

/* media Query */

@media (max-width: 680px),
screen and (orientation: portrait) {
    #main-intro h1 {
    font-size: 60px;
}

section {
    margin: 33vh 30px;
    text-align: center;
  }

  /* gallery */ 

  .g-card {
    margin: 0px;
    border-right: none;
    border-bottom: 1px solid #989898;
}
  
  }